.App {
  text-align: left;
}


.header {
  background-color: #0055ff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  color: white;
  width: 100vw;
  height:10%;
  padding: 10px
}
.dash-form-container {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}
.dash{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  border-width: 5px;
}

.dash-products{
  border-style: solid;
  border-width: 1px;
  width: 25vw;
  height: 25vh;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

}
.input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 25vw;
  height:30vh;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  width: 25vw;
  height: 50vh;
}
.image-container{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  alight-items:space-around;
  width: 300px;
  height: 300px;
  border-style: solid;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
